
<div class="row">
<div class="col-lg-7">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Perfil del usuario</h4>
            <h6 class="card-subtitle">Datos generales del usuario</h6>
            <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar( f.value )" class="form p-t-20">
                <div class="form-group">
                    <label for="exampleInputuname">Nombre de usuario</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input [ngModel]="usuario.nombre"  name="nombre" type="text" class="form-control"  placeholder="Nombre de usuario" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo de usuario</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-email"></i></div>
                        <input [ngModel]="usuario.email" [disabled]="usuario.google"  name="email" type="email" class="form-control"  placeholder="Correo del usuario" required>
                    </div>
                </div>
              
           
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"> <i class="fa fa-save"></i>  Guardar</button>
            </form>
        </div>
    </div>
</div>
<div class="col-lg-5">

    <div class="card">

            <div class="el-card-item">
                    <h4 class="card-title">Imagen del usuario</h4>
                    <div class="el-card-avatar el-overlay-1"> 
                        <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" alt="{{usuario.nombre}}" class="w150">
                        <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">
                        
                    </div>
    </div>

    <div class="card-body">
           
            <h3 class="box-title">{{usuario.nombre}}</h3> <small>{{usuario.email}}</small>
            <br>
       
        
    </div>

</div>

<div class="card">
        <div class="card-body">
<h6 class="card-subtitle">Cambiar imagen</h6>
        <input (change)="seleccionImagen( $event.target.files[0] )" type="file" class="file">
        <br /> <br />
        <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="submit" class="btn btn-success waves-effect waves-light m-r-10"> <i class="fa fa-save"></i>  Actualizar Imagen</button>

    </div>
</div>


